body{
background-color:#add8e6;
}
.wrapper{
width:100%;
height:auto;
background-color:add8e6;

}
.container{
width:900px;
height:500px;
margin:0 auto;
border:2px solid #000;
background-color:none;
}
.header{
width:100%;
height:auto;
background-color:#ffffff;
border:2px solid #000;
display:table;

}


.header img{
    float:left;
width:130px;
height:60px;
margin:15px 15px 15px 15px;
}

.navbar{
float:right;
margin:10px;
}

ul{
list-style-type:none;
}

.banner{
width:96%;
height:auto;
background-image: url("almond.jpg");
border:2px solid #000;
}
